body{
    margin:0;
}
.monster{
    width: 300px;
    height: auto;
    padding: 10px 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    margin:0px

}
.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px 100px;
    /*border: 1px solid red;*/
}
.hero-img{
    width: 300px;
    height: auto;

}
.hero-text{
    /*border: 1px solid green;*/
    width: 600px;

}
.hero-text p{
    color: #E5E7EB;
    margin-top: 5px;
    margin-bottom: 5px;
}
h1{
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin-bottom: 5px;
}
.signup1{
    background-color: #3882F6;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
